{{ define "main" }}
  <div role="main" class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {{ with .Content }}
          <div class="well">
            {{.}}
          </div>
        {{ end }}
        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-6 index-btn">
              <a class="btn btn-success btn-lg" href="/releases">Download</a>
            </div>
            <div class="col-sm-6 index-btn">
              <a class="btn btn-primary btn-lg" href="https://docs.peertube-viewer.com">Documentation</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{ end }}

