<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <ul class="list-inline text-center footer-links">
          {{ range .Site.Data.social.social_icons }}
            <li>
              <a href="{{ .url }}" title="{{ .title }}">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="{{ .icon }} fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          {{ end }}
          <li>
            <a rel="me" href="https://pouet.chapril.org/@sgued">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fab fa-mastodon fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li>
            <a href="/{{.Site.Params.rssContent}}/index.xml" title="RSS" type="application/rss+xml">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        </ul>
        <p class="credits copyright text-muted">
            <a href="#top">To the top</a>
        </p>
        <p class="credits theme-by text-muted">
          Site powered by <a href="https://gohugo.io">Hugo</a>
          &nbsp;&bull;&nbsp;
          Theme based on <a href="https://github.com/halogenica/beautifulhugo">Beautiful Hugo</a>
        </p>
      </div>
    </div>
  </div>
</footer>

{{- partial "footer_custom.html" . }}
